body
{
    background: #000;
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;

}

#header
{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    color: white;
    margin: 0;
    font-weight: bold;
    padding: 0.5em;
    text-align: left;
    font-size:xx-large;

}
#header #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;

}

#header #logo
{
    width: 50px;
    vertical-align: middle;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #000;
    margin: 0 auto;

}
#container h1
{
    font-size: xx-large;
}

#post
{
    background-color:  #ffffff  ;
    font-size: larger;
    color: black;
}

#footer
{
    background: #33A;
    font-style: bold; color: white ;
    font-size: large;
    padding: 0.5em;
}